In [2]:
def test():
    pass

In [3]:
def test1():
    print("Good")

In [6]:
test1()
test()

Good

In [11]:
test1()+"Myname"
#It will give error TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

# Why  None type is return notetype beacuse we have used print in this function it alwys tries to return null type by default to solve this we can use return

Good

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
def test2():
    return "Good"

In [12]:
test2()+"Dekha "

'GoodDekha '

In [14]:
def test3():
    return 1,4,"Divyanshu",5.4

In [15]:
test3()

(1, 4, 'Divyanshu', 5.4)

In [18]:
test3()[0]+test3()[1]

5

In [21]:
type(test3()[0])

int

In [22]:
def test4():
    a=3*4*5
    return a

In [23]:
test4()

60

In [24]:
def test5(a,b):
    c=a+b
    return c

In [25]:
test5(5,6)

11

In [26]:
test5([1,2,3,4,5],[5,4,6,7,8,9,10])
# it will perform list concatination ioerations

[1, 2, 3, 4, 5, 5, 4, 6, 7, 8, 9, 10]

In [27]:
test5(b="Divyanshu",a="Singh")

'SinghDivyanshu'

In [28]:
# Create a func that take input of list and return inal list with all numeric values

In [29]:
def test6(a):
    n=[]
    for i in a:
        if type(i)==int or type(i)==float:
            n.append(i)
    return n

In [30]:
l=[1,2,3,4,5,"String hai",["Babaa"],45,56,[1,2,3,4]]
test6(l)

[1, 2, 3, 4, 5, 45, 56]

In [31]:
# if need to extract data interger in sidelis t of list

In [32]:
################## PART 2 ##########################################

In [34]:
def test(a,b,c,d,e):
    pass
##it may happen we need to passs any no if data as argument may be more , less then what we should do in this process 
## HOW we can create a function which may take any no of arg

In [35]:
# *args means it can take any no of arguments 
def test1(*args):
    return args

In [36]:
test1(1,2,3,4,5,6,["Papa"],"Sid")

(1, 2, 3, 4, 5, 6, ['Papa'], 'Sid')

In [37]:
def test7(*args,a):
    return args,a

In [38]:
## TAKING ANY NO OF VALUES IN FORM OF KEY AND PAIRS KEY AND PAIRS 

def Dict(**args):
    return args

In [41]:
Dict(Papa="Son",MOM="Daughter")

{'Papa': 'Son', 'MOM': 'Daughter'}

GENERATOR FUNCTIONSwe can yuse yield as keyword for generator function

Fibonacii : 0,1,1,2,3..

In [44]:
def test_fibonaci(n):
    a,b=0,1
    for i in range(n):
        yield a## Find Whaterver the value of a is and give it to me 
        a,b=b,a+b

In [45]:
## to take values we need to call the function inside for loop 
for i in test_fibonaci(10):
    print(i)

0
1
1
2
3
5
8
13
21
34