In [1]:
n=3
p=2

In [2]:
def test(n,p):
    return n**p

In [3]:
test(3,2)

9

In [4]:
test(9,4)

6561

In [6]:
a=lambda n,p: n**p## THis will becomae a lambda function

In [7]:
a(3,2)

9

In [8]:
a(9,4)

6561

In [11]:
add =lambda x,y :x+y

In [12]:
add(6,5)

11

In [21]:
c_to_f=lambda c:(9/5)*c+32

In [22]:
c_to_f(34)

93.2

In [23]:
maxi= lambda a,b : max(a,b)

In [25]:
maxi1 = lambda a,b : a if a>b else b

In [26]:
maxi1 (3,4)

4

In [27]:
## MAP REDUCE AND FILTER FUNCTION

In [28]:
l=[1,2,3,4,5,6,7,8]
def test(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

In [30]:
test(l)

[1, 4, 9, 16, 25, 36, 49, 64]

In [31]:
def sq(x):
    return x**2

In [33]:
map(sq,l) ## it will give mapper object

In [34]:
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64]

In [35]:
list(map(lambda x: x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64]

In [36]:
list(map(lambda x: x+2,l))

[3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
list(map(lambda x:str(x),l))

['1', '2', '3', '4', '5', '6', '7', '8']

In [38]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

In [41]:
list(map(lambda i,j:i+j ,l1,l2 ))

[7, 9, 11, 13, 15]

In [43]:
list(map(lambda i,j:i+j ,l2,l2 ))

[12, 14, 16, 18, 20]

In [44]:
s="divyanshu"

In [45]:
list(map(lambda x:x.upper(),s))

['D', 'I', 'V', 'Y', 'A', 'N', 'S', 'H', 'U']

In [46]:
### Reduce Function

In [47]:
from functools import reduce

In [48]:
l=[1,2,3,4,5,4]

In [49]:
#reduce function just collape the entire iteratable

In [50]:
reduce(lambda x,y:x+y,l)

19

In [51]:
## How result is calculated , 1 ,2,3,4,5,4

In [52]:
#Filter Function

In [53]:
l

[1, 2, 3, 4, 5, 4]

In [54]:
list(filter(lambda x: x%2==0,l))

[2, 4, 4]