### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [3]:
d={"a":4,"b": 8,"c": 15,"d": 16,"e": 23,"f":42}

In [4]:
ser=pd.Series(d)

In [5]:
print(ser)

a     4
b     8
c    15
d    16
e    23
f    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [6]:
x=[]
for i in range(0,20,2):
    x.append(i)

In [7]:
ser_2=pd.Series(x)

In [8]:
ser_2

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:

In [9]:
d = {'Name': ["Alice","Bob","Claire"], 'Age': [25,30,27],"Gender":["Female","Male","Female"]}

In [10]:
d=pd.DataFrame(d,index=None)
print(d.loc[0])

Name       Alice
Age           25
Gender    Female
Name: 0, dtype: object

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas DataFrame is a Two-Dimensional data structure, Portenstitially heterogeneous tabular data structure with labeled axes rows, and columns. pandas Dataframe is consists of three components principal, data, rows, and columns. In this article, we’ll explain how to create Pandas data structure DataFrame Dictionaries and indexes, how to access fillna() & dropna() method, Iterating over rows and columns, and finally using some functions with examples.

In [11]:
#Example:
x = pd.Series([6,3,4,6], index=["a", "b", "c", "d"])

In [12]:
x

a    6
b    3
c    4
d    6
dtype: int64

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

### ANSWER

pd.read_csv


Counting the rows and columns in DataFrame using shape(). It returns the no. of rows and columns enclosed in a tuple.


Summary of Statistics of DataFrame using describe() method.




Dropping the missing values in DataFrame, it can be done using the dropna() method, it removes all the NaN values in the dataframe.


Merging DataFrames using merge(), arguments passed are the dataframes to be merged along with the column name.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

###  ANSWER
Series – 1D labeled homogeneous array, sizeimmutable
Data Frames – 2D labeled, size-mutable tabular structure with heterogenic columns
Panel – 3D labeled size mutable array.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [13]:

import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)
pd.DataFrame(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000